<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Nouvel reservation de <%= @reservation.user_email %></p>
    <p>
    Reservation details<br>
    --------------------------
    </p>
    <p>Email: <%= @reservation.user_email %></p>
    <p>Date: <%= @reservation.reservation %></p>
    <p>
    </p>
  </body>
</html>